body {
    /*position: relative;*/
    /*width: auto;*/
    /*height: 1466px;*/
    /*height: 100%;*/

    /*background: radial-gradient(50% 50% at 50% 50%, rgba(1, 36, 105, 0) 19.27%, rgba(1, 36, 105, 0) 100%), linear-gradient(180deg, rgb(68, 38, 85) 22.4%, #022e87 100%);*/
    background-image: url(bg.png);
}

.guy {
    position: absolute;
    left: 4.59%;
    right: 80.37%;
    top: 84.99%;
    bottom: 1.17%;
}

.starimg {
    position: absolute;
    width: 156px;
    height: 149px;
    left: 70px;
    top: 11px;
}

.planet-page-logo {
    position: absolute;
    width: 401px;
    height: 112.41px;
    left: 400px;
    top: 79px;
}

.main-planet {
    position: absolute;
    left: 28.13%;
    right: 27.92%;
    top: 26.08%;
    bottom: 40.97%;

    transform: matrix(1, 0, 0, 1, 0, 0);
}

.textshadow {
    position: absolute;
    width: 540px;
    height: 311px;
    left: 245px;
    top: 772px;

    background: linear-gradient(180deg, rgba(32, 28, 75, 0) 0%, #201C4B 100%);
    border-radius: 8px;
}

@media (prefers-reduced-motion: no-preference) {
    .main-planet {
        animation: planet-spin infinite 20s linear;
    }
}

@keyframes planet-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.right-planet {
    position: absolute;
    left: 73.44%;
    right: 4.88%;
    top: 26.18%;
    bottom: 57.57%;

    opacity: 0.9;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.marstext {
    position: absolute;
    width: 134px;
    height: 66px;
    left: 804px;
    top: 594px;

    font-family: McLaren;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 69px;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    opacity: 0.9;
}

.left-planet {
    position: absolute;
    left: 4.95%;
    right: 73.37%;
    top: 26.21%;
    bottom: 57.54%;

    opacity: 0.9;
    transform: matrix(1, 0, -0.01, 1, 0, 0);
}

.venustext {
    position: absolute;
    width: 154px;
    height: 66px;
    left: 84px;
    top: 594px;

    font-family: McLaren;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 69px;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    opacity: 0.9;
}

.planet-page-moon {
    position: absolute;
    left: -4.98%;
    right: -10.65%;
    top: 83.75%;
    bottom: -0.94%;

    mix-blend-mode: screen;
}